<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Historique de {{ account.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <i class="fas fa-book-open bank-logo"></i> <h1>Historique de {{ account.name }}</h1>
        </div>
        
        <ul class="history">
            {% for event in account.history %}
                <li><i class="fas fa-clock"></i> {{ event }}</li>
            {% endfor %}
        </ul>
        <a class="btn" href="{{ url_for('account_page', name=account.name) }}"><i class="fas fa-arrow-left"></i> Retour au compte</a>
    </div>
</body>
</html>
