<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <i class="fas fa-university bank-logo"></i> <h1>Connexion Admin</h1>
        </div>
        
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        
        <form method="POST" class="card">
            <label for="username"><i class="fas fa-user"></i> Nom d'utilisateur:</label>
            <input type="text" name="username" id="username" required>
            <label for="password"><i class="fas fa-lock"></i> Mot de passe:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit"><i class="fas fa-sign-in-alt"></i> Se connecter</button>
        </form>
    </div>
</body>
</html>